.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    left: 0; right: 0;
}
.canvas{
    flex: 1;
    height: 100%;
    filter: grayscale(75%);
}

.canvas:hover{
    transition-duration: 1.5s;
    flex: 1.75;
    filter: none;
}
.canvas:not(:hover){
    transition-duration: 1s;
    flex: 1;
}