.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    left: 0; right: 0;
    /* width: 100vw; */
    /* height: 100vh; */
}
.canvas{
    flex: 1;
    /* width: 70%; */
    height: 100%;
    /* border: 1px solid gray; */
    /* position: absolute; top: 0px; left: 0px; */
    filter: grayscale(70%);
    /* filter: blur(3px); */
}

#canvas-right{
    flex: 1;
    /* width: 70%; */
    height: 100%;
    /* border: 1px solid salmon; */
    /* position: absolute; top: 0px; right: 0px; */
}

.canvas:hover{
    transition-duration: 1.5s;
    flex: 1.75;
    filter: none;
    
}
.canvas:not(:hover){
    /* transition-property: width; */
    transition-duration: 1s;
    /* transform: scale(2); */
    flex: 1;
}